<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />
  </head>

  <body>

    <h1>Product</h1>

  <div class="container">
  <h2>Details</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" disabled="true" th:value="${prod.name}">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description" placeholder="Description" name="description" disabled="true" th:value="${prod.description}">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" class="form-control" id="quantity" placeholder="Quantity" name="quantity" disabled="true" th:value="${prod.quantity}">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" placeholder="Price" name="price" disabled="true" th:value="${prod.price}">
    </div> 
    <div class="form-group">
      <label for="inventoryPrice">Total Inventory Price:</label>
      <input type="number" class="form-control" id="inventoryPrice" placeholder="InventoryPrice" name="inventoryPrice" disabled="true" th:value="${prod.InventoryPrice}">
    </div>  
        <p>
      <a href="../index.html" th:href="@{/products}">Return to list</a>
    </p>
  </form>
</div>
  


  </body>

</html>